[submodule "vim/vim.symlink/bundle/octopress"]
	path = vim/vim.symlink/bundle/octopress
	url = git://github.com/tangledhelix/vim-octopress.git
[submodule "vim/vim.symlink/bundle/puppet"]
	path = vim/vim.symlink/bundle/puppet
	url = git://github.com/netdata/vim-puppet.git
[submodule "vim/vim.symlink/bundle/scala"]
	path = vim/vim.symlink/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/vim.symlink/bundle/vim2hs"]
	path = vim/vim.symlink/bundle/vim2hs
	url = https://github.com/dag/vim2hs
[submodule "vim/vim.symlink/bundle/Dockerfile"]
	path = vim/vim.symlink/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/vim.symlink/bundle/vim-jsx"]
	path = vim/vim.symlink/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
